/checkpoints/
/logs/
core.*
*.pth.tar
/'checkpoint*/
/checkpoint*/
/multi_task/checkpoints/
/multi_task/logs/
/multi_task/imgs
/multi_task/docs
/multi_task/results
/multi_task/scripts
/multi_task/survive
/multi_task/runs
/x2ct/
/data/
/numbers/
/baseline_mr2crt_dann/
/ssl_tl/
/multi_task/collections/
